/* Display block, Stacks on top! */

input {
  width: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  /* height: 24px; Not the bestpractice cuz some browsers won't understand it */
  line-height: 24px; /* better */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 20px;
  border: rgba(0, 0, 0, 0.116) solid .5px;
}

img {
  width: 400px;
  /* margin-bottom: ; */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.buttons {
  /* text-align: center; And we cancel this too cuz we're better now and gonna use the flexbox */
  display: flex;
  justify-content: center;
  margin: 20px auto 0 auto;
}

.main {
  margin-top: 100px;
}

.btn {
  /* display: block;
  margin: 20px auto 0;  Sorry we want to display the 2 btns on the same line but too lazy to do flexbox*/
  /* display: inline; add text-align to the container  */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 8px;
  /* font-weight: bold; */
  font-size: 14px;
}


