@font-face {
  src: url("/the-godfather.regular.ttf");
  font-family: theGodFather; /* import fonts from .ttf files */
}


body {
  text-align: center;
  /* font-family: theGodFather; */
  font-family: orbitron;
  margin: 0;
  color: #5b7ea3;
}


.landing {
  background-image: url("./Space\ Science\ Tech\ GIF\ by\ European\ Space\ Agency\ -\ ESA.gif");
  /* color: white; */
  background-size: cover;
  padding: 10px 0 40px 0;
}

/* .orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
} */

.apply {
  padding: 10px 15px;
  font-weight: bold;
  background: white;
  border: none;
  font-family: inherit;
  color: #3780cd;
}


.underline {
  /* text-decoration: underline; old not customizable */
  border-bottom: white solid 5px;
}

.spacex {
  width: 400px;
}